*

!init.sh
!backup.sha

# git
!.gitignore
!.gitconfig
!.gitattributes
!.git-crypt
!.git-crypt/**/*

# ssh
!.ssh
!.ssh/config
!.ssh/known_hosts
!.ssh/keys
!.ssh/keys/**/*

# brew
!Brewfile

# zsh
!.zprofile
!.zshrc
!.zshenv
!.zlogin
!.zlogout

# oh-my-zsh
!.p10k.zsh

# shell history
!.*_history
!.*_history/**/*

# app configurations
!.config
!.config/**/*

# ignore files in sub directories
**/.gitignore
**/.DS_Store
